<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>警告</title>
</head>
<link rel="stylesheet" href="jquery-weui/dist/lib/weui.min.css">
<link rel="stylesheet" href="jquery-weui/dist/css/jquery-weui.css">
<link rel="stylesheet" href="layui/css/layui.css">
<body ontouchstart>
<div class=" weui-tab">
    <div class="weui-msg" style=" top: 20%;position: relative;">
        <div class="login_logo weui_icon_area" style="padding-bottom:20px;">
            <img src="images/service_busy.jpg" width="200">
        </div>

        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">系统繁忙，请稍后再试</h2>
        </div>
    </div>
</div>
</body>
</html>